<div class="buttonClose icon-remove"></div><div class="buttonSettings icon-cog"></div>{{#with selected}}
<div class="selectionAxe Logic">{{#with logic}}<span class="selected">{{content}}</span>in<span class="selectionParents">{{container}}</span>{{/with}}</div>
<div class="selectionAxe Geographic">{{#with geographic}}<span class="selected">{{content}}</span>in<span class="selectionParents">{{container}}</span>{{/with}}</div>
<div class="selectionAxe Type">{{#with type}}<span class="selected">{{content}}</span>in<span class="selectionParents">{{container}}</span>{{/with}}</div>
{{/with}}